In [15]:
# 載入基本套件
import pandas as pd
import numpy as np

# 讀取訓練與測試資料
data_path = 'C:/Users/she/Downloads/'
df_train = pd.read_csv(data_path + 'house_train.csv.gz')
df_test = pd.read_csv(data_path + 'house_test.csv.gz')
df_train.shape

(1460, 81)

In [16]:
# 訓練資料需要 train_X, train_Y / 預測輸出需要 ids(識別每個預測值), test_X
# 在此先抽離出 train_Y 與 ids, 而先將 train_X, test_X 該有的資料合併成 df, 先作特徵工程
train_Y = np.log1p(df_train['SalePrice'])
ids = df_test['Id']
df_train = df_train.drop(['Id', 'SalePrice'] , axis=1)  #將特定列、行刪除 1=攔
df_test = df_test.drop(['Id'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal
1,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal
2,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal
3,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml
4,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal

In [12]:
df.shape

(2919, 79)

In [23]:
# 秀出資料欄位的類型, 與對應的數量
# df.dtypes : 轉成以欄位為 index, 類別(type)為 value 的 DataFrame
# .reset_index() : 預設是將原本的 index 轉成一個新的欄位, 如果不須保留 index, 則通常會寫成 .reset_index(drop=True)
dtype_df = df.dtypes.reset_index() 
dtype_df.columns = ["Count", "Column Type"]
dtype_df = dtype_df.groupby("Column Type").aggregate('count').reset_index()
dtype_df

  Column Type  Count
0       int64     25
1     float64     11
2      object     43

In [18]:
df.dtypes.value_counts()

object     43
int64      25
float64    11
dtype: int64

In [34]:
c=zip(df.dtypes, df.columns)
c

In [35]:
list(c)

[(dtype('int64'), 'MSSubClass'),
 (dtype('O'), 'MSZoning'),
 (dtype('float64'), 'LotFrontage'),
 (dtype('int64'), 'LotArea'),
 (dtype('O'), 'Street'),
 (dtype('O'), 'Alley'),
 (dtype('O'), 'LotShape'),
 (dtype('O'), 'LandContour'),
 (dtype('O'), 'Utilities'),
 (dtype('O'), 'LotConfig'),
 (dtype('O'), 'LandSlope'),
 (dtype('O'), 'Neighborhood'),
 (dtype('O'), 'Condition1'),
 (dtype('O'), 'Condition2'),
 (dtype('O'), 'BldgType'),
 (dtype('O'), 'HouseStyle'),
 (dtype('int64'), 'OverallQual'),
 (dtype('int64'), 'OverallCond'),
 (dtype('int64'), 'YearBuilt'),
 (dtype('int64'), 'YearRemodAdd'),
 (dtype('O'), 'RoofStyle'),
 (dtype('O'), 'RoofMatl'),
 (dtype('O'), 'Exterior1st'),
 (dtype('O'), 'Exterior2nd'),
 (dtype('O'), 'MasVnrType'),
 (dtype('float64'), 'MasVnrArea'),
 (dtype('O'), 'ExterQual'),
 (dtype('O'), 'ExterCond'),
 (dtype('O'), 'Foundation'),
 (dtype('O'), 'BsmtQual'),
 (dtype('O'), 'BsmtCond'),
 (dtype('O'), 'BsmtExposure'),
 (dtype('O'), 'BsmtFinType1'),
 (dtype('float64'), 'BsmtFinSF1'),
 (dtype('O'), 'BsmtFinType2'),
 (dtype('float64'), 'BsmtFinSF2'),
 (dtype('float64'), 'BsmtUnfSF'),
 (dtype('float64'), 'TotalBsmtSF'),
 (dtype('O'), 'Heating'),
 (dtype('O'), 'HeatingQC'),
 (dtype('O'), 'CentralAir'),
 (dtype('O'), 'Electrical'),
 (dtype('int64'), '1stFlrSF'),
 (dtype('int64'), '2ndFlrSF'),
 (dtype('int64'), 'LowQualFinSF'),
 (dtype('int64'), 'GrLivArea'),
 (dtype('float64'), 'BsmtFullBath'),
 (dtype('float64'), 'BsmtHalfBath'),
 (dtype('int64'), 'FullBath'),
 (dtype('int64'), 'HalfBath'),
 (dtype('int64'), 'BedroomAbvGr'),
 (dtype('int64'), 'KitchenAbvGr'),
 (dtype('O'), 'KitchenQual'),
 (dtype('int64'), 'TotRmsAbvGrd'),
 (dtype('O'), 'Functional'),
 (dtype('int64'), 'Fireplaces'),
 (dtype('O'), 'FireplaceQu'),
 (dtype('O'), 'GarageType'),
 (dtype('float64'), 'GarageYrBlt'),
 (dtype('O'), 'GarageFinish'),
 (dtype('float64'), 'GarageCars'),
 (dtype('float64'), 'GarageArea'),
 (dtype('O'), 'GarageQual'),
 (dtype('O'), 'GarageCond'),
 (dtype('O'), 'PavedDrive'),
 (dtype('int64'), 'WoodDeckSF'),
 (dtype('int64'), 'OpenPorchSF'),
 (dtype('int64'), 'EnclosedPorch'),
 (dtype('int64'), '3SsnPorch'),
 (dtype('int64'), 'ScreenPorch'),
 (dtype('int64'), 'PoolArea'),
 (dtype('O'), 'PoolQC'),
 (dtype('O'), 'Fence'),
 (dtype('O'), 'MiscFeature'),
 (dtype('int64'), 'MiscVal'),
 (dtype('int64'), 'MoSold'),
 (dtype('int64'), 'YrSold'),
 (dtype('O'), 'SaleType'),
 (dtype('O'), 'SaleCondition')]

In [29]:
# 確定只有 int64, float64, object 三種類型後對欄位名稱執行迴圈, 分別將欄位名稱存於三個 list 中
int_features = []
float_features = []
object_features = []
# .dtypes(欄位類型), .columns(欄位名稱) 是 DataFrame 提供的兩個方法, 這裡順便展示一下 for 與 zip 搭配的用法
for dtype, feature  in zip(df.dtypes, df.columns):
    if dtype == 'float64':
        float_features.append(feature)
    elif dtype == 'int64':
        int_features.append(feature)
    else:
        object_features.append(feature)
# 這邊採用的寫法稱為 f-string, 是 Python 3.6.2 以後版本才出現的
# 如果無法執行, 則需要更新到這個版本之後, 或自行將程式改寫為 str.format 形式
# 改寫方式可以參考 https://blog.louie.lu/2017/08/08/outdate-python-string-format-and-fstring/
print(f'{len(int_features)} Integer Features : {int_features}\n')
print(f'{len(float_features)} Float Features : {float_features}\n')
print(f'{len(object_features)} Object Features : {object_features}')

25 Integer Features : ['MSSubClass', 'LotArea', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold']

11 Float Features : ['LotFrontage', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'BsmtFullBath', 'BsmtHalfBath', 'GarageYrBlt', 'GarageCars', 'GarageArea']

43 Object Features : ['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual', 'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature', 'SaleType', 'SaleCondition']

In [38]:
for i,name in zip([2,1,6,9],['g','j','k','t']):
    print(i,name)

2 g
1 j
6 k
9 t

In [39]:
df[float_features].head()

,LotFrontage,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,BsmtFullBath,BsmtHalfBath,GarageYrBlt,GarageCars,GarageArea
0,65.0,196.0,706.0,0.0,150.0,856.0,1.0,0.0,2003.0,2.0,548.0
1,80.0,0.0,978.0,0.0,284.0,1262.0,0.0,1.0,1976.0,2.0,460.0
2,68.0,162.0,486.0,0.0,434.0,920.0,1.0,0.0,2001.0,2.0,608.0
3,60.0,0.0,216.0,0.0,540.0,756.0,1.0,0.0,1998.0,3.0,642.0
4,84.0,350.0,655.0,0.0,490.0,1145.0,1.0,0.0,2000.0,3.0,836.0

# 作業 : (Kaggle)鐵達尼生存預測

# [作業目標]
- 試著完成三種不同特徵類型的三種資料操作, 觀察結果
- 思考一下, 這三種特徵類型, 哪一種應該最複雜/最難處理

# [作業重點]
- 完成剩餘的八種 類型 x 操作組合 (In[6]~In[13], Out[6]~Out[13])
- 思考何種特徵類型, 應該最複雜

In [45]:
# 載入基本套件
import pandas as pd
import numpy as np

# 讀取訓練與測試資料
data_path = 'C:/Users/she/Downloads/'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')
df_train.shape

(891, 12)

In [50]:
# 重組資料成為訓練 / 預測用格式
train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

KeyError: 'Survived'

In [51]:
# 秀出資料欄位的類型與數量
dtype_df = df.dtypes.reset_index()
dtype_df.columns = ["Count", "Column Type"]
dtype_df = dtype_df.groupby("Column Type").aggregate('count').reset_index()
dtype_df

  Column Type  Count
0       int64      3
1     float64      2
2      object      5

In [52]:
#確定只有 int64, float64, object 三種類型後, 分別將欄位名稱存於三個 list 中
int_features = []
float_features = []
object_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'float64':
        float_features.append(feature)
    elif dtype == 'int64':
        int_features.append(feature)
    else:
        object_features.append(feature)
print(f'{len(int_features)} Integer Features : {int_features}\n')
print(f'{len(float_features)} Float Features : {float_features}\n')
print(f'{len(object_features)} Object Features : {object_features}')

3 Integer Features : ['Pclass', 'SibSp', 'Parch']

2 Float Features : ['Age', 'Fare']

5 Object Features : ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

# 作業1 
* 試著執行作業程式，觀察三種類型 (int / float / object) 的欄位分別進行( 平均 mean / 最大值 Max / 相異值 nunique )  
中的九次操作會有那些問題? 並試著解釋那些發生Error的程式區塊的原因?  

# 作業2
* 思考一下，試著舉出今天五種類型以外的一種或多種資料類型，你舉出的新類型是否可以歸在三大類中的某些大類?  
所以三大類特徵中，哪一大類處理起來應該最複雜?

In [53]:
# 例 : 整數 (int) 特徵取平均 (mean)
df[int_features].mean()

Pclass    2.294882
SibSp     0.498854
Parch     0.385027
dtype: float64

In [54]:
# 請依序列出 三種特徵類型 (int / float / object) x 三種方法 (平均 mean / 最大值 Max / 相異值 nunique) 的其餘操作
df[int_features].max()

Pclass    3
SibSp     8
Parch     9
dtype: int64

In [55]:
df[int_features].nunique()

Pclass    3
SibSp     7
Parch     8
dtype: int64

In [56]:
df[float_features].mean()

Age     29.881138
Fare    33.295479
dtype: float64

In [57]:
df[float_features].max()

Age      80.0000
Fare    512.3292
dtype: float64

In [58]:
df[float_features].nunique()

Age      98
Fare    281
dtype: int64

In [59]:
df[object_features].mean()

Series([], dtype: float64)

In [60]:
df[object_features].max()

Name      van Melkebeke, Mr. Philemon
Sex                              male
Ticket                      WE/P 5735
dtype: object

In [61]:
df[object_features].nunique()

Name        1307
Sex            2
Ticket       929
Cabin        186
Embarked       3
dtype: int64

In [ ]:
'object'為類別變數，不應該有平均值、最大值以及相異值